/*
NOTACION:
selector
body{
background-color: #282828;
   propiedad: valor
}

Tipo de Selectores:

 *  ----------> es el selector global, por lo tanto de la estilo a todo el documento
Etiqueta -----> se escribe tal cual que una etiqueta pero sin las llaves de mayor/menor
.clase -------> es invocada por un puntito mas el nombre. es versatil debido a que puede ser llamado las veces necesaria
#id ----------> es invocada por un # mas el nombre. la diferencia es que este solo puede ser llamado una vez
[atributo] ---> todo los elementosque tengan este atributo en cuestion: por ejemplo [type=input]
grupo---------> N selectores se pueden configurar con las mismas propiedades
combinados ---> descendente puede ser body. tittle
hijo directo -> solo se le da estilo al primer nivel que definanos mas el nivel de adentro es decir body > tittle >
hermanos ----->los elementos del mismo nivel
adyacente ----> funciona como hermano con la diferencia solo al elemento mas cercano
:pseudicodigo > representan el estado de un elemento mas
:: pseudoelemento > crean elementos especiales

---UNIDADES DE MEDIDA

ABSOLUTOS: pixel
RELATIVOS: em =  toma el valor aproximado de otro font-size y lo mutiplica por 4 o 2

@media screen and (max-width:500px ) {
aqui va las propiedades a implementar para reemplazar
}

widht es lo largo
heigh es lo alto
viewport
rem = toma el valor de font-size mas lejaro y equivale al dobre o triple del valor por ejemplo, 15 ahora es 30


:hover, para utilizar esta pseudo clase, tiene que estar con la etiqueta a modificar, es decir por ejemplo
a:hover

:root tiene mas peso y es dirigido a html, nos dirigimos al elemento mas superior,

*/
/*
html{
   font-size:16px;
}
*/

:root{
   font-size:16px;
}

body{
   color:#212121;
}
a
{
   color:#212121;
}
header{
   font-size: 14px;
   color: #616161;
}

header a{
   color: #616161;
   text-decoration: none;
}

header a:hover{
   color: red;
}

nav details summary{
   font-weight: bold;
}

h1{
   font-size: 60px;
}

h2{
font-size: 2em;
}

h3{
   font-size: 1.5em;
}
/*
CUSTOM PROPERTIES
ejemplo
--colorcito: #212121;
son como variales para los elementos
*/

/*PROPIEDADES Y VALORES LOGICOS Y FISICOS

--Default config
1. direction: ltr;
2. writing-mode:horizontal-tb;
3. text-orientation:mixed;
*/

