/*
NOTACION:
selector
body{
background-color: #282828;
   propiedad: valor
}

Tipo de Selectores:

 *  ----------> es el selector global, por lo tanto de la estilo a todo el documento
Etiqueta -----> se escribe tal cual que una etiqueta pero sin las llaves de mayor/menor
.clase -------> es invocada por un puntito mas el nombre. es versatil debido a que puede ser llamado las veces necesaria
#id ----------> es invocada por un # mas el nombre. la diferencia es que este solo puede ser llamado una vez
[atributo] ---> todo los elementosque tengan este atributo en cuestion: por ejemplo [type=input]
grupo---------> N selectores se pueden configurar con las mismas propiedades
combinados ---> descendente puede ser body. tittle
hijo directo -> solo se le da estilo al primer nivel que definanos mas el nivel de adentro es decir body > tittle >
hermanos ----->los elementos del mismo nivel
adyacente ----> funciona como hermano con la diferencia solo al elemento mas cercano
:pseudicodigo > representan el estado de un elemento mas
:: pseudoelemento > crean elementos especiales
*/




